body {
	background-color: black;
	color: white;
	font-size: 250%;
	font-family: "Helvetica";
	text-align: center;
}
#logo {
	background-image: url(/logo.jpeg);
	height: 500px;
	width: 500px;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
}